<launch>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_empty_world.launch" />
    <node name="task5_server" pkg="team52" type="task5_server.py" output="screen"></node>
    <node name="task5_client" pkg="team52" type="task5_client.py" output="screen"></node>
</launch>

<!-- $ roslaunch turtlebot3_gazebo turtlebot3_empty_world.launch -->
